<%- include("partials/header"); -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">
  <div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input type="text" class="form-control" name="logtitle">
    </div>
  
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Details</label>
      <textarea class="form-control" name="logbody" rows="5"></textarea>
    </div>
  </div>

  <button class="btn btn-primary" style="margin-top: 20px;" type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer"); -%>
